#version=DEVEL
# X Window System configuration information
xconfig  --startxonboot
# License agreement
eula --agreed
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
# System services
services --disabled="chronyd"
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

ignoredisk --only-use=sda
# Network information
network  --bootproto=dhcp --device=enp0s3 --onboot=off --ipv6=auto --activate
network  --bootproto=static --device=enp0s8 --gateway=192.168.10.1 --ip=192.168.10.46 --nameserver=8.8.8.8 --netmask=255.255.255.0 --ipv6=auto --activate
network  --bootproto=dhcp --hostname=chefvm1.example.com

# Root password
rootpw --iscrypted $6$1c6ouOsv1XFfR3YK$Qp89ScUnud9RuSd2UWMSwjuN4fUfSJktDb57wYSKSPZEcLbb85Vyzbmg5XWXIuWhWxfSdJmkwu6FVOT1qRXv01
# System timezone
timezone Asia/Kolkata --isUtc --nontp
user --groups=wheel --name=centos --password=$6$Rp3Js44JvGT.76JB$Qx8h2zeTfyf.PvMhMpVRd1rF2gVtGTJCxufKSv4g1hE2HvkR1p8Zof9DWhg24MI2OPqLDjqhp5V356lAFP8EC. --iscrypted --gecos="centos"
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel

%packages
@^graphical-server-environment
@base
@core
@desktop-debugging
@dial-up
@fonts
@gnome-desktop
@guest-agents
@guest-desktop-agents
@input-methods
@internet-browser
@multimedia
@print-client
@x11
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb=auto
%end
